.inputPlus {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 45px;

  &Col {
    display: flex;
    flex-direction: column;
  }

  &Text,
  &Value {
    border: 1px solid #b1b1b1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 9px 10px;
    font: 1rem/1em "Roboto", sans-serif;

    &::placeholder {
      color: #7b7b7b;
    }
    min-height: 32px;
    border-left: right;
  }
  &Text {
    resize: none;
  }

  &Button {
    min-height: 32px;
    border-radius: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: var(--fg) url("./images/plus.svg") no-repeat center center;
    width: 60px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: hsl(var(--hue), 10%, 50%);
    }
  }
}
